body {
  background-image: url("https://coubsecure-s.akamaihd.net/get/b101/p/coub/simple/cw_timeline_pic/a8a9bfc7327/14bf1c83b2810a40e63eb/big_1521971492_image.jpg");
}

h1{
  font-size: 40px;
  color: navy;
}

h2{
  font-size: 200px;
  color: red;
}
