	<link href="https://fonts.googleapis.com/css?family=ZCOOLKuaiLe" rel="stylesheet">

body {
  background-image: url("https://coubsecure-s.akamaihd.net/get/b101/p/coub/simple/cw_timeline_pic/a8a9bfc7327/14bf1c83b2810a40e63eb/big_1521971492_image.jpg");
  background-size: cover;
}

h1{
  font-size: 50px;
  color: powderblue;
}

h2{
  font-size: 200px;
  font-family: "ZCOOL KuaiLe";
  color: red;
}
