
body {
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/yI9FRzo/videoblocks-fly-and-spin-through-space-less-stars-no-clouds-or-space-dust-only-stars-and-open-black-space-transparent-background-alpha-channel-embedded-with-4k-png-file_bsmzhyxhjl_thumbnail-full01.png");
  background-size: cover;
}

p{
  font-size: 50px;
  color: white;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

h1{
  font-size: 200px;
  text-align: center;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: Fuchsia;
}

h2{
  font-size: 25px;
  color:white;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.header {
  display:flex;
  margin:0;
  background-color: Fuchsia;
  justify-content: flex-end;
}

.header div {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 50px;
  display:block;
  padding: 30px;
}

.header div:hover {
  box-shadow: 10px 10px white;
}

.button{
  background-color: Lime;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 40px;
 font-family: "Comic Sans MS", cursive, sans-serif;
 margin: 4px 2px;
 cursor: pointer;
}

.button:hover {
  background-color: Aqua;
}

input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

ul.a {
  list-style-type: circle;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color:white;
  text-align: center;

}

a:link {
  color: aqua;
}
a:visited {
  color: navy;
}
a:hover{
  color: Lime;
}
